# MongoDB Database URL
DATABASE_URL="mongodb://127.0.0.1:27017/silfable_ai"

# Redis Cloud Endpoint
REDIS_URL="redis://default:yblPbxcQBMF5BGWJjrWPaMy0ztmMNTRB@redis-13730.c281.us-east-1-2.ec2.cloud.redislabs.com:13730"

# Secret Key for Encrypting Agent Keys in Database (32-byte hexadecimal string)
WORKER_ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
